<apex:page sidebar="false" showHeader="true" tabStyle="Account" controller="DMAccountSearchController"  >
<apex:includeScript value="/support/console/45.0/integration.js"/>

<!--
<apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/jquery-1.6.2.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/jquery-ui-1.8.16.custom.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.jqPlugin, '/jquery.blockUI.js')}"/>
<apex:stylesheet value="{!URLFOR($Resource.jQuery, 'css/ui-lightness/jquery-ui-1.8.16.custom.css')}"/>  
-->

<style>
.mainTitle{ 
    width:198px !important;
    font-weight: bold;
    color: #339999 !important;
}
</style>

<apex:form id="mainForm">
    <apex:pageBlock id="pbMain" title="Search DM Account">
        <apex:pageMessages />
        
        <apex:inputHidden id="OppId" value="{!OpportunityId}"/>
        <apex:inputHidden id="AcctId" value="{!AccountId}"/>
        <apex:inputHidden id="OppName" value="{!SearchAcctNumber}"/>
        <apex:inputHidden id="AcctName" value="{!AccountName}"/>
        
        <apex:pageBlockSection >
            <apex:panelGrid columns="1" id="theGrid" >
                <apex:outputLabel style="color:#339999;font-weight: bold;">DM Account Number: </apex:outputLabel>
                <apex:inputText value="{!SearchAcctNumber}" id="searchInput"/>
                
                <apex:actionStatus id="counterStatus" > 
                    <apex:facet name="start" ><span style="color:red;">Processing, Please Wait...</span></apex:facet> 
                    
                    <apex:facet name="stop"> 
                        <apex:commandButton oncomplete="OpenPrimaryTab()" value="Search" action="{!ValidateAccNo}" style="margin-top:20px;padding:5px;" status="counterStatus" rerender="mainForm" />
                    </apex:facet>  
                </apex:actionStatus>
                
                <script type="text/javascript">
                   
                   function OpenPrimaryTab() {
                        if('{!successStr}' == 'Success'){
                            //First open a primary tab by name
                            sforce.console.openPrimaryTab(null, document.getElementById("{!$Component.AcctId}").value, 
                                                          true, document.getElementById("{!$Component.AcctName}").value, 
                                                          openSubtab, 'yahoo');
                        }
                    }
                    var openSubtab = function openSubtab(result) {
                        //Open the subtab by the name specified in function testOpenSubtabByPrimaryTabName()
                        sforce.console.openSubtab(result.id, document.getElementById("{!$Component.OppId}").value,
                                                  true, document.getElementById("{!$Component.OppName}").value,
                                                  null,closeWindow);
                        
                    };
                    var closeWindow = function closeWindow() {
                        //Make the custom console component window visible
                        sforce.console.setCustomConsoleComponentVisible(false);
                    };
                    var openSuccess = function openSuccess(result) {
                        
                        //Report whether we succeeded in opening the subtab
                        if (result.success == true) {
                            alert('subtab successfully opened');
                        } else {
                            alert('subtab cannot be opened');
                        }
                        sforce.console.setCustomConsoleComponentWindowVisible(false);
                    };
                    
            </script>
                
            </apex:panelGrid>
        </apex:pageBlockSection>
        
    </apex:pageBlock>
</apex:form>  

</apex:page>