<apex:page standardController="Marketing__c" standardStylesheets="false">
  <h1>Greeting</h1>
  <br></br>
  <font size="2" color="red"> 
<b>
  • If the gender of the person who answers the phone aligns with the name on the account:
  <br></br>
o   Ex:  Male answers and the name on the account is John
<br></br>
   Yes - Hi {!Marketing__c.Consumer_Name__c}. This call may be monitored or recorded
<br></br>
   No – Hi, {!Marketing__c.Consumer_Name__c}? This call may be monitored or recorded
</b>
</font>
<br></br>

<font size="2" color="red"> 
<b>
•   If the person who answers states ‘you have the wrong number’ or ‘no one here by that name’ 
</b>
</font>
<br></br>
I apologize for the inconvenience. I will mark the number as wrong in our system. 
<br></br> 
<font size="2" color="red"> 
<b>
(Terminate the call on the dialer as WN) 
<br></br>
•   If the person who answers states ‘no’ or ‘no you cannot speak to them or they are a friend or family member and that the consumer is not available
</b>
</font>
<br></br>
Is this the correct number to reach {!Marketing__c.Consumer_Name__c}?
<font size="2" color="red"> 
<b>
<br></br>
•   If no:
</b>
</font>
<br></br>
I apologize for the inconvenience. I will mark the number as wrong in our system.
<br></br>
<font size="2" color="red"> 
<b>
  (Terminate the call on the dialer as WN)
  <br></br>
•   If yes:
</b>
</font>
<br></br>
May I leave my name and call back number with you so that he/she can call me when they are available?
<font size="2" color="red"> 
<b>
<br></br>
(Leave your full name or approved alias and that you care calling from MCM)
<br></br>
•   If yes:
</b>
</font>
<br></br>
Thank you, my number is 1 855-787-9358
<br></br>
<font size="2" color="red"> 
<b>
 (Terminate the call on the dialer as OTLM)
</b>
</font>
<br></br>
<br></br>
  <h2>Welcoming Statement</h2>
  <br></br>
Hello {!Marketing__c.Consumer_Name__c}, my name is {!$User.FirstName} {!$User.LastName}, this is a consumer care call regarding your account {!Marketing__c.MCM_Account__r.Original_Lender__c} that is being serviced by Midland Credit Management a Debt Collection Company.
Before I continue, I do have to state, ‘This is an attempt to collect a debt and any information obtained will be used for that purpose’. 
<br></br>
<font size="2" color="red"> 
<b>
(Pause to see if the consumer acknowledges the debt)
<br></br>
•   If the consumer does not recall the account  continue with Step 3
<br></br>
•   If the consumer immediately states they can’t pay, they are disabled or unemployed, etc. proceed with step 3 and then it is ok to skip to step 7 to obtain status information.  After status information is obtained, return to step 5.  
<br></br>
•   After you have updated the status in Salesforce, you can bridge back to step 5 by stating:
 “Thank you Sir / Ma’am, to ensure correct contact information, I would like to review it with you.   Return to step 5.
<br></br>
 Once completed, provide call closing outlined in step 11. 
</b>
</font>
<br></br>
<br></br>
  <h2>Verify Data</h2>
  <br></br>
Mr. /Mrs. {!Marketing__c.Consumer_Name__c}, to verify if you are the correct consumer and for the security of the account information, can you please verify the last 4 digits of your SSN?
<br></br>

<font size="2" color="red"> 
<b>
•   If the consumer refuses to provide the last 4 digits of the SSN
</b>
</font>

<br></br>
I understand sir/ma’am.  I will provide you the last 4 digits of the SSN for verification.
<br></br>

<font size="2" color="red"> 
<b>
•   If the last 4 digits of the SSN are not a match 
</b>
</font>

<br></br>

I apologize for the inconvenience; we are trying to reach a different {!Marketing__c.Consumer_Name__c}.  I will mark the number as wrong in our system.
<br></br>

<font size="2" color="red"> 
<b>
(Terminate the call on the dialer as WN) 

<br></br>
•   If the last 4 digits of the SSN are a match and the consumer does not recognize the account, provide additional account information to assist the consumer in recalling the account details
</b>
</font>
<br></br>
<br></br>

<h3>Account Info</h3>
<br></br>
The account in question was opened on {!Marketing__c.MCM_Account__r.MSOPDT__c} and charged off on {!Marketing__c.MCM_Account__r.MSCHOF__c}.
<br></br>
<font size="2" color="red"> 
<b>
(Pause)
<br></br>
•   If the consumer recognizes the account move on, else continue to provide details until the consumer recognizes the debt
<br></br>
•   If the consumer continues to dispute the account, refer to the AM manual “Disputes process” Page 233
</b>
</font>
<br></br>
We are calling you today to confirm that we have the correct contact information on your account, and to ask you a couple of questions.
<br></br>
<br></br>
<h4>Address Verification</h4>
<br></br>
We have your current address as {!Marketing__c.Address__c}.
<br></br>
<font size="2" color="red"> 
<b>
•   If the address is different, update the new address in GUI for all accounts, refer to the AM manual “Address Maintenance” Page 97
•   Continue to review all addresses listed on each account and accurately flag each one as verified or wrong.
</b>
</font>
<br></br>
<br></br>
<h5>Verify Phone Number</h5>
<br></br>
Is the number I’ve reached you at (provide the number dialed) your best contact number?  I also have (provide other numbers that are listed on the account) on file, is XXX a home, work or cell number?
<br></br>
<font size="2" color="red"> 
<b>
a.  If any of the numbers are cell phone numbers, obtain cell phone consent , refer to the AM manual Page 9
<br></br>
b.  Review all other phone numbers listed on the account and accurately flag each one as verified or wrong. Refer to the AM manual “Phone Maintenance” page 86
</b>
</font>
<br></br>
<br></br>
<h6>Employment Question</h6>
<br></br>
Ok, I have a couple of questions for you. The first is: Are you currently employed?
<br></br>
<font size="2" color="red"> 
<b>
•   If the answer is “Yes; I am self-employed; or, I work part-time” track in SF as “YES”
<br></br>
•   If the answer is “No; I’m retired; I’m on disability; I’m on Social Security; I’m on unemployment; my spouse works; I take care of the house / kids; or, I do odd jobs” track in SF as “NO”
</b>
</font>
<br></br>
That’s great.  I can transfer you to one of our Account Managers and they will be happy to assist you, Please hold for a moment.
<br></br>
<font size="2" color="red"> 
<b>
Refer to the AM manual “Transfer Call” Page 280
</b>
</font>
<br></br>
<br></br>
<h1>Employment Question</h1>
<br></br>
<font size="2" color="red"> 
<b>
If the answer to #7 is “NO”, ask
</b>
</font>
<br></br>
Are you actively seeking employment?
<br></br>
<font size="2" color="red"> 
<b>
•   If the answer is “Yes” track in SF as “YES”
<br></br>
•   If the answer is “No; not right now; I would be - but…(I’m injured, I’m moving, going through divorce, etc.); I’m going to start looking soon; or, sometimes” track in SF as “NO”
</b>
</font>
<br></br>
<br></br>
<h1>Intentions Question</h1>
<br></br>
OK, the last question I have today is: Is repaying this debt important to you?”
<br></br>
<font size="2" color="red"> 
<b>
•   If the answer is: “Yes; when I get the money; or, I do”  track in SF as “YES”
<br></br>
•   If the answer is: “No; I don’t think so; or, probably not” track in SF as “NO”
<br></br>
•   If the answer is: “I’m not sure; maybe; not right now; I can’t; It’s really hard to pay; or, I have too many bills” Remind the consumer that you are NOT asking if they have the ability to pay – that you want to know if they INTEND to pay if they have the means; Then try to get a “Yes” or “No” answer that fits the two above bullets.
</b>
</font>
<br></br>
<br></br>

<h1>Desires to Pay</h1>
<br></br>
<font size="2" color="red"> 
<b>
If the consumer has a desire to pay on the call:
</b>
</font>
<br></br>
That’s great.  I can transfer you to one of our Account Managers and they will be happy to assist you, please hold for a moment.
<br></br>
<font size="2" color="red"> 
<b>
Refer to the AM manual “Transfer Call” Page 280
</b>
</font>
<br></br>
<br></br>
<h1>Call Closing</h1>
<br></br>
I also want to let you know that we have self-service options available online. If you go to  midlandcreditonline.com you can register your account and  see additional account details, make a payment, or receive a discount.
<br></br>
Mr./Mrs. {!Marketing__c.Consumer_Name__c}, Thank you for taking the time to speak with me,  I really appreciate it, and if you have any questions in the future, please feel free to reach us by phone at 1-800-265-8825.
<br></br>
Again, my name is {!$User.FirstName} {!$User.LastName}, have a nice day/evening.
<br></br>
<br></br>

</apex:page>