<!--
AUTHOR:    LENNARD SANTOS
COMPANY:    CLOUDSHERPAS
DATE CREATED:  JANUARY 16 2013
DESCRIPTION: Custom Search page for Service Cloud Console
HISTORY: 1-16-2013  Created.
         2-13-2013 Updated based on sample WSDL file. Added loading/processing screen.
-->



<apex:page controller="SearchMCMController" sidebar="false" showHeader="false" tabStyle="Account" >
  <apex:includeScript value="/support/console/26.0/integration.js"/>
  <apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/jquery-1.6.2.min.js')}"/>
  <apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/jquery-ui-1.8.16.custom.min.js')}"/>
  <apex:includeScript value="{!URLFOR($Resource.jqPlugin, '/jquery.blockUI.js')}"/>
  <apex:stylesheet value="{!URLFOR($Resource.jQuery, 'css/ui-lightness/jquery-ui-1.8.16.custom.css')}"/>
  <apex:form id="myform">
  <apex:pageBlock id="pbMain">
  	  <apex:outputPanel id="opMain">
	      <table width = "100%" cellpadding="5px" cellspacing = "0" border="0">
	      <tr>
	          <td width = "40%"><apex:outputLabel style="font-weight:bold;color:#339999">MCM Account</apex:outputLabel></td>
	          <td width = "60%"><apex:inputText value="{!SearchNumber}" id="searchInput"/></td>
	      </tr>
	      <tr>
	          <td width = "40%"><apex:outputLabel style="font-weight:bold;color:#339999">Status &nbsp;</apex:outputLabel></td>
	          <td width = "60%"><apex:outputText style="color:red;font-weight:bold;" id="Status" value="{!Message}"/></td>
	      </tr>
	      </table>
  	  </apex:outputPanel>
	  <apex:inputHidden id="URL" value="{!OpportunityID}"/>
	  <apex:inputHidden id="OppName" value="{!ConsName}"/>
		  <apex:pageBlockButtons location="bottom">
			  <apex:actionStatus onstart="blockPage()" onstop="unblockPage()" id="blockUI"/>
			  <apex:commandButton value="Search" reRender="myform" action="{!getvalidateInput}"  oncomplete="testOpenPrimaryTab()"  status="blockUI">  
			  <script type="text/javascript">
		  		
			       function testOpenPrimaryTab() {
			           if('{!successStr}' == 'Success'){
			           		sforce.console.openPrimaryTab(null,document.getElementById("{!$Component.URL}").value , true,document.getElementById("{!$Component.OppName}").value);
			       	   		sforce.console.setCustomConsoleComponentWindowVisible(false);
				       }
				   }
			          
			
		            var openSuccess = function openSuccess(result) {
		            
			            if (result.success == true) {
			                alert('Primary tab successfully opened');
			
			            } 
			            else {
			            	alert('Primary tab cannot be opened');
			            }
		            }
			            
					$j = jQuery.noConflict();
			        
			        //function to block the whole page
			        function blockPage(){ 
			            $j.blockUI({ message: '<img src="/img/loading32.gif" /><h1> Processing...</h1>', 
			                css: { 
			                 border: 'none', 
			                 padding: '15px',
			                 '-webkit-border-radius': '10px', 
			                 '-moz-border-radius': '10px',
			                 color:'green',
			                 top:'20%',
			                 opacity: .9
			                } 
			            }); 
			            return false;
			        }
			        //function to unblock the page
			        function unblockPage(){
			            $j.unblockUI();
			        }
		  	</script>
		  </apex:commandButton>
	  </apex:pageBlockButtons>
  	</apex:pageBlock>
  </apex:form>
</apex:page>