<apex:page standardController="Letter__c" showHeader="false" sidebar="false">
    <apex:includeScript value="/support/console/45.0/integration.js"/>
    <script type="text/javascript">
    </script> 
    <apex:form >
        <apex:commandButton value="Send to DM"
                        onclick="window.open('/apex/SendToDMConfirmation_Letter?id={!Letter__c.id}',
                                'Popup','height=700,width=500,left=100,top=100,scrollbars=no,toolbar=no,status=no');"
                        style="background:#7AC143;font-weight:bold;font-size:20px;width:100%" rendered="{!IF(Letter__c.Letter_Status__c='Ready to Send',true,false)}" 
                       />
    </apex:form>
</apex:page>