<apex:page standardController="Case" extensions="SendToDMCaseExt" showHeader="false" sidebar="false">
    <script type="text/javascript">
        function refreshParent() {
            window.opener.location.href=window.opener.location.href;
        }
    </script>
    <apex:form id="mainForm" >
        <apex:inputHidden id="ConxExternalId" value="{!Case.Consumer_External_ID__c}"/>
        <apex:inputHidden id="AcctExternalId" value="{!Case.Account_External_ID__c}"/>
        
        <apex:pageBlock rendered="{!Case.Send_updates_to_DM__c==false}" onmouseout="refreshParent()">
            <br/>
            No updates found. If you would like to send an update to DM, please return to the case and edit the 
            Tags and Commentary for DM section.
            <br/><br/>
            <center>
            <apex:commandButton value="Return to Case" onclick="window.close();window.opener.location.href=window.opener.location.href;" />
            </center>
        </apex:pageBlock>
        
        <apex:pageBlock title="Confirmation: {!Case.Casenumber}" rendered="{!Case.Send_updates_to_DM__c==true}" >
            <b>Are the following changes okay to send to DM?</b><br/><br/>
            
            <apex:pageBlockSection title="Consumer Updates"  columns="2" collapsible="false">
                <apex:outputLabel > Consumer tags to add: </apex:outputLabel>
                <apex:outputText > 
                    {!Case.Consumer_Status_to_Add__c}{!IF(Case.Consumer_Status_to_Add__c!='',';','')}
                    {!Case.Language_Tag_to_Add__c}{!IF(Case.Language_Tag_to_Add__c!='',';','')} 
                </apex:outputText>
                
                <apex:outputLabel > Consumer tags to remove: </apex:outputLabel> 
                <apex:outputText > 
                    {!Case.Consumer_Status_to_Remove__c}{!IF(Case.Consumer_Status_to_Remove__c!='',';','')}
                    {!Case.Language_Tag_to_Remove__c}{!IF(Case.Language_Tag_to_Remove__c!='',';','')} 
                </apex:outputText>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection title="Account Updates" columns="2" collapsible="false">
                <apex:outputLabel >Account tags to add: </apex:outputLabel>
                <apex:outputText > 
                    {!Case.Account_Status_to_Add__c}{!IF(Case.Account_Status_to_Add__c!='',';','')}
                    {!Case.Communication_Tag_to_Add__c}{!IF(Case.Communication_Tag_to_Add__c!='',';','')}                                                                                                                                           
                    {!Case.Dispute_Tag_to_Add__c}{!IF(Case.Dispute_Tag_to_Add__c!='',';','')}
                    {!Case.Complaint_Tag_to_Add__c}{!IF(Case.Complaint_Tag_to_Add__c!='',';','')} 
                </apex:outputText>
                
                <apex:outputLabel >Account tags to remove: </apex:outputLabel>
                <apex:outputText > 
                    {!Case.Account_Status_to_Remove__c}{!IF(Case.Account_Status_to_Remove__c!='',';','')}
                    {!Case.Communication_Tag_to_Remove__c}{!IF(Case.Communication_Tag_to_Remove__c!='',';','')}
                    {!Case.Dispute_Tag_to_Remove__c}{!IF(Case.Dispute_Tag_to_Remove__c!='',';','')}
                    {!Case.Complaint_Tag_to_Remove__c}{!IF(Case.Complaint_Tag_to_Remove__c!='',';','')}
                </apex:outputText>
            </apex:pageBlockSection>
                
            <apex:pageBlockSection title="Account Commentary" columns="2" collapsible="false">
                <apex:outputLabel >Account commentary to add:</apex:outputLabel>
                <apex:outputText >{!Case.DM_Account_Commentary__c} ({!$User.FirstName} {!$User.LastName} {!NOW()})</apex:outputText>
            </apex:pageBlockSection>
            
            <br/><br/>
            <center>
                <apex:commandButton value="No. Go Back." onclick="window.close();"/>
                <apex:commandButton action="{!sendToDM}" value="Yes. Send to DM" status="StatusId" reRender="mainForm" />
            </center>
            <apex:actionStatus id="StatusId" >
                <apex:facet name="start">
                    <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.75; z-index: 9999; background-color: black;">
                        &nbsp;
                    </div>
                    <div style="color:red;position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 10000; margin: 30% 50%">
                        Processing...
                    </div>
                </apex:facet>
            </apex:actionStatus>
        
        </apex:pageBlock>
        
    </apex:form>
</apex:page>