<apex:page >
    <br/>
    <apex:pageBlock title="Support Requests" >
        <apex:outputText value="To help expedite the processing of your request, please include as many details as possible and mention that your request is for CSS Salesforce." 
            style="font-size:13pt"/><br/><br/>
        <apex:outputText value="If a ticket requires escalation, please email the Salesforce Support Team at GBS_IT_Salesforce@mcmcg.com with the ticket number after submitting the ServiceNow ticket."
            style="font-size:13pt;"/><br/><br/>
        <a href="https://encorecapital.service-now.com/sp?id=sc_cat_item&sys_id=369f29c66f7522005efb2fa0be3ee43e" target="_blank" style="font-size:11pt;font-weight:bold;">
            Admin Requests</a> - use for small admin requests such as password reset, new user creation, missing media, record deletion, update a validation rule, 
            reporting help, dashboard modification, update email distribution, etc.; these requests have a 10 day SLA but are typically completed same-day<br/><br/>
        <a href="https://encorecapital.service-now.com/sp?id=sc_cat_item&sys_id=af7062b0db943200e091f5951d96198e" target="_blank" style="font-size:11pt;font-weight:bold;">
            Project Requests</a> - use for larger requests and changes to infrastructure that would affect others such as add new field, change page layout, 
            create new validation rule, workflow process, etc.; these requests are submitted to your manager for approval<br/><br/>
        <a href="https://encorecapital.service-now.com/sp?id=sc_cat_item&sys_id=9fab39e2d7532100a9ad1e173e24d484" target="_blank" style="font-size:11pt;font-weight:bold;">
            Incident Reports</a> - use when something is no longer working that previously was working; whenever possible please provide as much detail as you can 
            and include any error messages, screenshots, account numbers, etc.; be sure to specify 'CSS Salesforce' in your request to ensure it gets routed correctly<br/><br/>
        <a href="/a0h/e?retURL=%2Fa0h%2Fo&RecordType=0121L000001lAiG" target="_blank" style="font-size:11pt;font-weight:bold;">
            PPType Changes</a> - use when the pptype needs to be updated on a Correspondence record<br/><br/>
     </apex:pageBlock>
</apex:page>