.THIS .profileIcon {
    width: 100px;
    height: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;

    color: #ffffff;
    cursor: pointer;
}