<template>
    <lightning-card title="Hello World" icon-name="standard:account">

        <div class="slds-p-around_small">
            <p>Hello {greeting} </p>
            <lightning-input required label="Enter Text" value={greeting}
            onchange={changeHandler} ></lightning-input>
                
        </div>
    </lightning-card>
</template>