<template>

    <lightning-card title="Drop Outlook Mail" icon-name="utility:email">

        <div class="slds-p-around_medium slds-text-align_center">
            <lightning-file-upload id="fileSelector" label="" name="fileUploader" record-id={recordId}
                onuploadfinished={handleUploadFinished} multiple>
            </lightning-file-upload>
        </div>

    </lightning-card>


</template>