<apex:page standardController="Case" extensions="LRMM_CaseCommentExt">
    <apex:form id="frm">
        
        <apex:pageBlock title="Case Comment">
            <apex:pageMessages id="error"></apex:pageMessages>
            <apex:actionstatus id="sts">
                <apex:facet name="start">
                    <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb; height: 100%; opacity: 0.65; width: 100%;">
                        <div class="waitingHolder" style="margin-left: 25%; position: fixed;">
                            <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." /> 
                            <span class="waitingDescription">Saving...</span>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionstatus>
            <apex:pageBlockSection columns="1">
                <apex:inputTextarea label="Comments" value="{!commentStr}" style="height:100px;width:50%;"  />
            </apex:pageBlockSection>
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Save" action="{!commitToDB}" reRender="frm,error" status="sts" />
                <apex:commandButton value="Cancel" action="/{!Case.Id}" immediate="true"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
        
    </apex:form>
</apex:page>