.THIS .fieldSetSetup {
    display: block;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px solid rgb(221,219,218);
    
}
 
.THIS .legendSetup {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    color:rgb(112,109,107);
}