<apex:page id="pg" tabStyle="Case" controller="SellerInquiryController">
    <apex:form id="frm">
        <apex:sectionHeader title="Project Edit" subtitle="New Project"/>
        <apex:pageBlock id="pb" title="Project Edit">
            <apex:pageBlockSection columns="2" title="Project Information" collapsible="false">
                <apex:inputField value="{!csRecord.Payment_Sequence_Number__c}"/>
                <apex:inputField value="{!csRecord.Company__c}"/>
                <apex:inputField value="{!csRecord.Reason}"/>
                <apex:inputField value="{!csRecord.Status}"/>
                <apex:inputField value="{!csRecord.OwnerId}"/>
                <apex:inputField value="{!csRecord.RecordTypeId}"/>

            </apex:pageBlockSection>

        </apex:pageBlock>
    </apex:form>
</apex:page>