.THIS {
    font-size:11px;
    
    
}

.THIS.hr1 {
            margin: 50px;
    		    width:100% ;
}
.THIS.hr2{
        margin: 20px;
    	width: 100%;
    text-align:20px;
}
.THIS.button{
    background-color:blue;
    background: linear-gradient(#0070d2,#0070d2);background: linear-gradient(#0070d2,#0070d2);
}