.THIS.popoverclass {
    min-height: 100px;
}

.THIS th{
    text-align:center;
    
}

.THIS .noField{
    width:5%;
}
.THIS .amtField{
    text-align:right !important;
}

.THIS .amtField>div>input{
    text-align:right !important;
    padding : 0px;
}

.THIS .totalRow{
    text-align:left;
    font-size:15px;
    background-color:rgb(21, 67, 96);
}

.THIS hr{
    margin:0px;
}