<template>
    <lightning-card title="Lightning Web Component" icon-name="standard:contact">
        <div class="slds-m-around_small">
            <lightning-record-form 
            object-api-name={objectApiName}
            record-id={recordId}
            fields={fields}></lightning-record-form>
        </div>
    </lightning-card>
</template>