<apex:page standardController="Consumer_Account_Details__c" extensions="LinkedAccountAddRemoveController" >
    <apex:includeLightning />  
    <div id="AddNewLC_Container" />
    <html>
        <head>
            <apex:slds />
        </head>
        
        <body style="background : none !important;">
            <div class="slds-scope">
                
                <div class="slds-grid slds-wrap slds-m-top_medium">
                    
                    <div class="slds-col slds-size_1-of-12"></div>
                    
                    <div class="slds-col slds-size_2-of-12 slds-hide" id="LcBtn">
                        <button class="slds-button slds-button_brand" id="LC"  onclick="navigateUrlTo_LC_AddNewCadJs();">Add New</button>
                    </div> 
                    
                    <div class="slds-col slds-size_2-of-12 slds-hide" id="VfBtn">
                        <button type="button" class="slds-button slds-button_brand"  id="vf"  onclick="navigateUrlToAddNewCadJs();">Add New</button>
                    </div>
                    
                    <div class="slds-col slds-size_2-of-12">
                        <button class="slds-button slds-button_brand" onclick="navigateToAddExistingCad();">Add Existing</button>
                    </div>
                    
                    <div class="slds-col slds-size_2-of-12">
                        <button class="slds-button slds-button_destructive" onclick="navigateToRemoveCad();">Remove</button>
                    </div>
                    
                    <div class="slds-col slds-size_2-of-12"></div>
                </div>
                
            </div>
        </body>
    </html>
    <script>
    
    window.onload = function() { 
        if(window.location.href.indexOf('servlet/servlet.Integration') > -1){
            document.getElementById('VfBtn').classList.toggle('slds-hide');
            
        }
        else{
            document.getElementById('LcBtn').classList.toggle('slds-hide');
        }
    }
    
    var cadId = '{!Consumer_Account_Details__c.Id}';
    
    function navigateUrlTo_LC_AddNewCadJs(){
        window.parent.location.href = '{!$Page.Linked_TrialPage}?cadId='+cadId;
    }
    function navigateUrlToAddNewCadJs(){
        window.parent.location.href = '{!JSENCODE(navigateAddNewCadUrl)}';
    }
    /*function navigateUrlTo_LC_AddNewCadJs(){
                // window.parent.location.href = '{!JSENCODE(navigate_LC_AddNewCadUrl)}';
                }*/
    function navigateToAddExistingCad(){
        window.parent.location.href = '{!$Page.LRMM_AddExistingCadPage}?cadId='+cadId;
    }
    function navigateToRemoveCad(){
        window.parent.location.href = '{!$Page.LRMM_RemoveExistingCadPage}?cadId='+cadId;
    }
    </script>
</apex:page>